.DS_Store
.cpcache
.idea
.shadow-cljs
.env
/.clj-kondo/.cache
/.lsp
/.nrepl-port
/out
/resources/public/*.min.css
/resources/public/js/
node_modules
#src/**/*.js -- for tsc modules only, see https://github.com/hyperfiddle/photon/commit/0aa9b26c35d961151891c1e42ec13fcf52e38fa2
/target/
tsconfig.tsbuildinfo
output.calva-repl

/yarn.lock
*.~undo-tree~