{:paths   ["src"]
 :deps    {org.clojure/clojure            {:mvn/version "1.11.1"}
           missionary/missionary          {:mvn/version "b.27-SNAPSHOT"}
           com.hyperfiddle/rcf            {:mvn/version "20220926-202227"}
           org.clojure/tools.analyzer.jvm {:mvn/version "1.2.2"}    ;; used by photon
           borkdude/edamame               {:mvn/version "1.0.0"} ;; configurable edn parser

           ;; Server
           ;; "0.14.3" is Jetty 9 and Java 8 compatible.
           ;; "0.17.7" is Jetty 10 and not Java 8 compatible (artifact name is poorly chosen)
           info.sunng/ring-jetty9-adapter {:mvn/version "0.14.3"
                                           :exclusions  [org.slf4j/slf4j-api
                                                         info.sunng/ring-jetty9-adapter-http3 ; no need
                                                         ]}
           com.cognitect/transit-clj      {:mvn/version "1.0.329"}
           ring-basic-authentication/ring-basic-authentication {:mvn/version "1.1.1"}

           ;; Client
           org.clojure/clojurescript      {:mvn/version "1.11.60"}
           com.cognitect/transit-cljs     {:mvn/version "0.8.269"}
           nextjournal/clojure-mode       {:git/url "https://github.com/nextjournal/clojure-mode" ; clojure codemirror support
                                           :sha     "699a445ebf2767f41fd0b6eeed5a008511702be6"}

           ;; Databases
           datascript/datascript          {:mvn/version "1.3.14"}
           #_#_com.datomic/datomic-free   {:mvn/version "0.9.5656"
                                           :exclusions  [org.slf4j/slf4j-nop
                                                         com.google.guava/guava]}

           ;; Misc, might be dropped in the future
           org.clojure/tools.logging      {:mvn/version "1.2.4"}

           ;; photon does not depend on core.async but provide interop
           ;; facilities, which will move in a separate lib in the future.
           org.clojure/core.async {:mvn/version "1.5.648"}
           }

 :aliases {:build {:paths ["src-build"] ; no project classpath including user.clj and data_readers
                   :deps {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
                          io.github.seancorfield/build-clj {:git/tag "v0.8.0" :git/sha "9bd8b8a"}}
                   :ns-default build}
           :dev     {:extra-paths ["src-dev" "src-docs" "test" "scratch"] ; for clj command
                     :extra-deps  {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.0-alpha1"}
                                   binaryage/devtools                       {:mvn/version "1.0.6"}
                                   thheller/shadow-cljs                     {:mvn/version "2.20.1"}
                                   ch.qos.logback/logback-classic {:mvn/version "1.2.11"}}
                     :jvm-opts    ["-Xss2m"                 ; https://github.com/hyperfiddle/photon/issues/11
                                   "-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory"
                                   "-Dlogback.configurationFile=src-dev/logback_dev.xml"
                                   "-XX:-OmitStackTraceInFastThrow" ;; RCF
                                   "-Djdk.attach.allowAttachSelf" ;; profiling
                                   "-XX:+UnlockDiagnosticVMOptions"
                                   "-XX:+DebugNonSafepoints"]}
           :test    {:extra-paths [#_"src-dev" "test"]
                     :jvm-opts    ["-Dhyperfiddle.rcf.generate-tests=true"
                                   "-XX:-OmitStackTraceInFastThrow"
                                   "-Dlogback.configurationFile=src-dev/logback.xml"
                                   "-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory"]
                     :extra-deps  {ch.qos.logback/logback-classic {:mvn/version "1.2.11"}
                                   io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                         :sha     "cc75980b43011773162b485f46f939dc5fba91e4"}}
                     :exec-fn     cognitect.test-runner.api/test}
           :scratch {:extra-paths []
                     :extra-deps {com.datomic/dev-local {:mvn/version "1.0.243"}
                                  ; fix datomic/shadow conflict
                                  com.google.guava/guava {:mvn/version "31.1-jre"}}}}}

;; ¹ http://webcache.googleusercontent.com/search?q=cache:4Rya0J2jOb4J:yellerapp.com/posts/2015-05-11-clojure-no-stacktrace.html
