{:deps     {:aliases [:dev]}
 :nrepl    {:port 9001}
 :dev-http {8080 {:root "resources/public"}}
 :builds   {:devkit   {:target        :browser
                       :devtools      {:watch-dir       "resources/public"    ; live reload CSS
                                       :hud             #{:errors :progress}
                                       :ignore-warnings true}                 ; warnings don't prevent hot-reload
                       :output-dir    "resources/public/js"
                       :asset-path    "/js"
                       :modules       {:main {:entries [user]}}}
            :test     {:target           :node-test
                       :output-to        "out/node-tests.js"
                       :ns-regexp        "^hyperfiddle.photon-[^dom].*$"
                       :build-options    {:cache-level :off}
                       :modules          {:main {:entries [hyperfiddle.photon hyperfiddle.photon-test]}}
                       :dev              {:closure-defines {hyperfiddle.logger/LEVEL "debug"}}
                       :compiler-options {:warnings {:redef-in-file false}}}
            :browser-test {:target           :karma
                           :output-to        "out/karma-tests.js"
                           :ns-regexp        "^hyperfiddle.photon-.*$"
                           :build-options    {:cache-level :off}
                           :modules          {:main {:entries [hyperfiddle.photon hyperfiddle.photon-test]}}
                           :dev              {:closure-defines {hyperfiddle.logger/LEVEL "debug"}}
                           :compiler-options {:warnings {:redef-in-file false}}}}}
