{:lint-as {hyperfiddle.electric3/defn    clojure.core/defn
           hyperfiddle.electric3/for     clojure.core/let
           hyperfiddle.electric3/cursor  clojure.core/let
           hyperfiddle.electric3/with-cycle clojure.core/let
           hyperfiddle.electric3/fn      clojure.core/fn}
 :linters {:redundant-expression {:level :off}}}
