.hyperfiddle input:not([type="radio"]):not([type="checkbox"]), select {
    box-sizing: border-box;
    /* width:100%; */
    border-width: 1px;
    /*border-left-width: 0.2rem;*/
    border-style:solid;
    border-radius: 2px;
    /* padding: 0.5rem 0.5rem; */
    width: 100%;
}

.hyperfiddle input[type="checkbox"]{
    margin:0;
    width: 1rem;
    height: 1rem;
}

.hyperfiddle table {
    table-layout: fixed;
    border-collapse: collapse;
}


.hyperfiddle .hyperfiddle-select
, .hyperfiddle .hyperfiddle-typeahead
, .hyperfiddle .hyperfiddle-tag-picker
{
    /* background-color: red; */
    position: relative;
}

.hyperfiddle .hyperfiddle-select input,
.hyperfiddle .hyperfiddle-typeahead input
{
    border: none;
    border-style: none !important;
}

.hyperfiddle .hyperfiddle-select > ul
, .hyperfiddle .hyperfiddle-typeahead > ul
, .hyperfiddle .hyperfiddle-tag-picker-input-container > ul
{
    margin: 0;
    padding: 0.25rem 0;
    position:absolute;
    width: 100%;
    z-index: 2;
    list-style-type: none;
    background-color: white;
    box-shadow: 0 0.5rem 1rem gray;

    display: grid;
    grid-gap: var(--hf-grid-gap);
}

.hyperfiddle .hyperfiddle-select > ul > li
, .hyperfiddle .hyperfiddle-typeahead > ul > li
, .hyperfiddle .hyperfiddle-tag-picker-input-container > ul > li
{
    height: var(--hf-grid-row-height);
    padding: 0 0.5rem;

}

.hyperfiddle .hyperfiddle-select > ul > li:hover
, .hyperfiddle .hyperfiddle-typeahead > ul > li:hover
, .hyperfiddle .hyperfiddle-tag-picker-input-container > ul > li:hover
{
    cursor: pointer;
}

.hyperfiddle .hyperfiddle-tag-picker
, .hyperfiddle .hyperfiddle-tag-picker-input-container
, .hyperfiddle .hyperfiddle-tag-picker-items
, .hyperfiddle .hyperfiddle-tag-picker-items > li
{
    display: inline-block;
}

.hyperfiddle .hyperfiddle-tag-picker-items
{
    list-style-type: none;
}

.hyperfiddle .hyperfiddle-tag-picker{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem 0.5rem;
    align-items:center;
    padding: 0.25rem;
    background: white;
}

.hyperfiddle .hyperfiddle-tag-picker:focus-within{
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.hyperfiddle .hyperfiddle-tag-picker-items{
    display:contents;
}

.hyperfiddle .hyperfiddle-tag-picker-items > li
{
    border: 1px solid;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    white-space: nowrap;
}

.hyperfiddle .hyperfiddle-tag-picker-input-container{
    position: relative;
    height: 100%;
    max-height: 100%;
    padding:0;

}

.hyperfiddle .hyperfiddle-tag-picker-input-container > input{
    height: 100%;
    border-width:0!important; /* TODO drop the !important once we have a clean CSS system (tailwind) */
    outline: none;
}
.hyperfiddle .hyperfiddle-tag-picker-input-container > ul{
    position: absolute;
    width: max-content;
    margin-top: 0.25rem;
    border-radius: 0 0 0.25rem 0.25rem;
    box-shadow: none;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.hyperfiddle .hyperfiddle-tag-picker-items > li {
    border-radius: 0.25rem;
    padding: 0 0 0 0.5rem;
}

.hyperfiddle .hyperfiddle-tag-picker-items > li > span {
    margin: 0.25rem;
    color: rgb(55 65 81);
    cursor:pointer;
}

.hyperfiddle .hyperfiddle-selected
{
    background-color: orange;
}

.hyperfiddle .hyperfiddle-modal-backdrop
{
    display: block;
    /* background-color: pink; */
    /* opacity: 0.1; */
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
}

.hyperfiddle table td{
    vertical-align: top;
    padding: 0.3rem;
    border-width: 1px;
    border-style: solid;
}

.hyperfiddle table thead td:empty{
    visibility:hidden;
    border: none;
}
