input:not([type="radio"]):not([type="checkbox"]), select {
    box-sizing: border-box;
    /* width:100%; */
    border-width: 1px;
    /*border-left-width: 0.2rem;*/
    border-style:solid;
    border-radius: 2px;
    /* padding: 0.5rem 0.5rem; */
    width: 100%;
}

input[type="checkbox"]{
    margin:0;
    width: 1rem;
    height: 1rem;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}


.hyperfiddle-select
, .hyperfiddle-typeahead
{
    /* background-color: red; */
    position: relative;
}

.hyperfiddle-select input
, .hyperfiddle-typeahead input
{
    border: none;
    border-style: none !important;
}

.hyperfiddle-select > ul
, .hyperfiddle-typeahead > ul
{
    margin: 0;
    padding: 0.25rem 0;
    position:relative;
    z-index: 2;
    list-style-type: none;
    background-color: white;
    box-shadow: 0 0.5rem 1rem gray;

    display: grid;
    grid-gap: var(--hf-grid-gap);
}

.hyperfiddle-select > ul > li
, .hyperfiddle-typeahead > ul > li
{
    height: var(--hf-grid-row-height);
    padding: 0 0.5rem;

}

.hyperfiddle-select > ul > li:hover
, .hyperfiddle-typeahead > ul > li:hover
{
    cursor: pointer;
}

.hyperfiddle-selected
{
    background-color: orange;
}

.hyperfiddle-modal-backdrop
{
    display: block;
    /* background-color: pink; */
    /* opacity: 0.1; */
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
}

table.hyperfiddle td{
    vertical-align: top;
    padding: 0.3rem;
    border-width: 1px;
    border-style: solid;
}

table.hyperfiddle thead td:empty{
    visibility:hidden;
    border: none;
}
