@import url('popover.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

/* TODO move to HFQL repo */

:root{
    --hf-input-cell-background: rgb(255 255 255);
    --hf-page-background: rgb(248 250 252) ; /* bg-slate-100 */
    --hf-label-background:  rgb(241 245 249); /* bg-slate-50	*/
     /* rgb(226 232 240); /\* bg-slate-200 *\/ */
}

body.hyperfiddle{
    background-color: var(--hf-page-background);
    /* background-color: white; */
}


.hyperfiddle input:not([type="radio"]):not([type="checkbox"]), select { /* reset */
    border-width: initial;
    border-style: initial;
    border-radius: initial;

    width: 100%;
}

.hyperfiddle .hyperfiddle-gridsheet-wrapper{
    position: relative;
    flex:1;
}

.hyperfiddle .hyperfiddle-gridsheet{

    --hf-grid-row-height: 1.5em; /* source of truth, all rows inherit this height, js code will measure this */
    --hf-cell-border-color: rgb(203 213 225);
    --hf-columns-border-gradient: transparent;
    --hf-grid-gap: 1px;

    display: grid;
    grid-auto-rows: minmax(var(--hf-grid-row-height), auto); /* Rows have dynamic height based on content */

    /* All columns have the same width (default) */
    grid-auto-columns: minmax(0, 1fr); /* default min is auto, not 0 */
    grid-gap: var(--hf-grid-gap);
    justify-items: start; /* cell content is left aligned */
    align-items: center;  /* cells align their content on the row center */

    position: relative;

    box-sizing: border-box; /* nested scrollbars do not add to the width */

}

.hyperfiddle .hyperfiddle-gridsheet-wrapper > .hf-grid-overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none;
    z-index: 1;

}

/* A vertical, standalone scrollbar. Meant to render in a single column next to some rows. */
.hyperfiddle .hyperfiddle-gridsheet [role="scrollbar"] {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 1.1em;
    max-height: 100%;  /* Fit the rows span height */
    align-self: start; /* scroll height does not participate to the first row’s vertical alignment */
    z-index:2;
}


/* In a grid layout, these are semantic only */
.hyperfiddle .hyperfiddle-gridsheet [role="scrollview"]
, .hyperfiddle .hyperfiddle-gridsheet [role="table"]
, .hyperfiddle .hyperfiddle-gridsheet [role="table"] thead
, .hyperfiddle .hyperfiddle-gridsheet [role="table"] tbody
, .hyperfiddle .hyperfiddle-gridsheet [role="table"] tr
, .hyperfiddle .hyperfiddle-gridsheet [role="table"] td
, .hyperfiddle .hyperfiddle-gridsheet [role="form"]
{
    display:contents;
}



/* Anything can be considered a cell */
.hyperfiddle .hyperfiddle-gridsheet [role="cell"] {
    display: block;
    width: 100%;
    margin: 0;
    box-sizing:border-box;
    white-space: nowrap;

    height: 100%;

    font-family: 'Roboto Mono', monospace;
    font-size: 0.9em;
    /* padding: 0.2em; */

    color: #222;
    border:none;
}

.hyperfiddle .hyperfiddle-gridsheet [role="cell"] > * {
    width: 100%;
    height: 100%;
    border: none;
}

.hyperfiddle .hyperfiddle-gridsheet [role="cell"] > a {
    display: block;
    overflow: hidden;
}

.hyperfiddle .hyperfiddle-gridsheet .label[role="cell"] {
    font-weight: 500;
    background-color: var(--hf-label-background);
}

/* Edge case: checkboxes should not grow to fill the row height  */
.hyperfiddle .hyperfiddle-gridsheet [role="cell"] > input[type="checkbox"] {
    margin: initial;
    width: initial;
    padding: initial;
}

.hyperfiddle .hyperfiddle-gridsheet .hyperfiddle-text{
    background-color: var(--hf-label-background);
    z-index: 2;
    padding: 0.5em;
}

.hyperfiddle .hyperfiddle-gridsheet .hyperfiddle-text h1{
    /* text-3xl */
    font-size: 1.875em; /* 30px */
    line-height: 2.25em; /* 36px */
    margin: 0;
}


/* Misc */

.hyperfiddle .hyperfiddle-hfql pre{
    margin:0;
}


.hyperfiddle .hyperfiddle-gridsheet .hfql-input-validator{
    position: relative;
}

.hyperfiddle .hyperfiddle-gridsheet .hfql-input-validator.hfql-invalid{
    outline: 1px red solid;
}

.hyperfiddle .hyperfiddle-gridsheet .hfql-input-validator-invalid-icon {
	  position: absolute;
}

.hyperfiddle .hyperfiddle-gridsheet .hfql-input-validator-invalid-icon {
	  fill: none;
	  stroke: red;
	  position: absolute;
	  bottom: 0;
	  top: 0;
	  margin: auto;
	  right: 0.2em;
	  font-size: 1.2em;
	  width: 1em;
	  height: 1em;
}

.hyperfiddle .hyperfiddle-gridsheet .hfql-input-validator .hfql-input-validator-invalid-message{
    visibility:hidden;
	  border: 1px red solid;
	  padding: 0 0.5em;
	  margin-left: 1em;
	  position: absolute;
	  background-color: white;
	  z-index: 2;
	  font-size: 0.9em;
	  border-radius: 0.25em;
	  text-align: center;
	  display: inline-flex;
	  align-items: center;
    width: fit-content;
    max-width: 100%;
}


.hyperfiddle .hyperfiddle-gridsheet .hfql-input-validator .hfql-input-validator-invalid-message > * {
    overflow:hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}


.hyperfiddle .hyperfiddle-gridsheet .hfql-input-validator .hfql-input-validator-invalid-message::after{
	  content: " ";
	  width: 0;
	  height: 0;
	  position: absolute;
	  border: 0.5em transparent solid;
	  border-right-color: red;
	  margin-left: -1.5em;
}

.hyperfiddle .hyperfiddle-gridsheet .hfql-input-validator.hfql-invalid:hover > .hfql-input-validator-invalid-message
, .hyperfiddle .hyperfiddle-gridsheet .hfql-input-validator.hfql-invalid:focus-within > .hfql-input-validator-invalid-message
{
    visibility: visible;
}
