/* TODO unify with Rosie */

/* @import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');


:root{
    --hf-input-cell-background: rgb(255 255 255);
    --hf-page-background: rgb(248 250 252) ; /* bg-slate-100 */
    --hf-label-background:  rgb(241 245 249); /* bg-slate-50	*/
     /* rgb(226 232 240); /\* bg-slate-200 *\/ */
}

body{
    background-color: var(--hf-page-background);
    /* background-color: white; */
}

.hyperfiddle-gridsheet{

    --hf-grid-row-height: 1.5rem; /* source of truth, all rows inherit this height, js code will measure this */
    --hf-cell-border-color: rgb(203 213 225);
    --hf-columns-border-gradient: transparent;
    --hf-grid-gap: 2px;

    display: grid;
    grid-auto-rows: var(--hf-grid-row-height);
    grid-gap: var(--hf-grid-gap);
    justify-items: start; /* cell content is left aligned */
    align-items: center;  /* cells align their content on the row center */

    position: relative;


    overflow-y: auto; /* scroll if needed, js code will shift the background-gradient’s position  */

    box-sizing: border-box; /* nested scrollbars do not add to the width */

}

.hyperfiddle-gridsheet > .hf-grid-overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none;

    /* Virtual Borders */
    background:
        repeating-linear-gradient(transparent 0 calc(var(--hf-grid-row-height) - 0.5px) /* FIXME subpixel sampling */
                                  , var(--hf-cell-border-color) var(--hf-grid-row-height)
                                       calc(var(--hf-grid-row-height) + var(--hf-grid-gap) - 1px)
                                  , transparent calc(var(--hf-grid-row-height) + var(--hf-grid-gap) - 1px)
                                                calc(var(--hf-grid-row-height) + var(--hf-grid-gap)))
        , var(--hf-columns-border-gradient)
    ;
}

/* A vertical, standalone scrollbar. Meant to render in a single column next to some rows. */
.hyperfiddle-gridsheet [role="scrollbar"] {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 1.1rem;
    max-height: 100%;  /* Fit the rows span height */
    align-self: start; /* scroll height does not participate to the first row’s vertical alignment */
    z-index:1;
}


/* In a grid layout, these are semantic only */
.hyperfiddle-gridsheet [role="scrollview"]
, .hyperfiddle-gridsheet [role="table"]
, .hyperfiddle-gridsheet [role="table"] thead
, .hyperfiddle-gridsheet [role="table"] tbody
, .hyperfiddle-gridsheet [role="table"] tr
, .hyperfiddle-gridsheet [role="table"] td
, .hyperfiddle-gridsheet [role="form"]
{
    display:contents;
}



/* Anything can be considered a cell */
.hyperfiddle-gridsheet [role="cell"] {
    display: block;
    width: 100%;
    margin: 0;
    box-sizing:border-box;
    white-space: nowrap;
    overflow: hidden;

    height: 100%;

    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
    /* padding: 0.2rem; */

    color: #222;
}

.hyperfiddle-gridsheet .label[role="cell"] {
    font-weight: 500;
    background-color: var(--hf-label-background);
}

.hyperfiddle-gridsheet input[role="cell"] {

    border:none;
}

/* Edge case: checkboxes should not grow to fill the row height  */
.hyperfiddle-gridsheet input[role="cell"][type="checkbox"] {
    margin: initial;
    width: initial;
    padding: initial;
}


/* Misc */

.hyperfiddle-hfql pre{
    margin:0;
}


