.hyperfiddle-hfql td{
    vertical-align: top;
    padding: 0.3rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--hyperfiddle-hfql-border-color);
}

.hyperfiddle-hfql thead td:empty{
    visibility:hidden;
    border: none;
}
