@import url('tooltip.css');

.hyperfiddle-hfql form {
    display: grid;
    grid-gap: 0.5rem;
    grid-auto-flow:row;
    padding-bottom: 0.5rem;
    border-left-style: solid;
    border-left-width: 0.25rem;
    padding-left: 0.25rem;
}

.hyperfiddle-hfql form .field{
    display:grid;
    border-left-width: 0rem;
    border-left-style: solid;
    padding-bottom: 0.5rem;
    grid-gap: 0.5rem;
}

.hyperfiddle-hfql form .field:last-child{
    padding-bottom: 0;
}

.hyperfiddle-hfql form .field > label{
    font-size: 1rem;
    /* font-weight: 600; */
}

.hyperfiddle-hfql label{
    font-weight: 500;
}

.hyperfiddle-hfql table{
    /*display: inline-table;*/ /* don't break demos */
    /* direction:rtl; */ /* FIXME dom-ordering hack */
}
.hyperfiddle-hfql table * { /* FIXME dom-ordering hack */
    /* direction: initial; */
}
.hyperfiddle-hfql th {
    border-width: 0px;
    border-left-width: 1px;
    border-style: solid;
    font-weight: 500;
    font-size: 1rem;
    border-color: white;
    font-size: 1.1em;
    padding: 0.35rem;
}

.hyperfiddle-hfql th:first-child{
    display: block;
    border-left-width: 0;
    border-top-left-radius: 2px;
    margin-left: -0.5px;
}

.hyperfiddle-hfql th:last-child{
    border-top-right-radius: 2px;
    display: block;
    margin-right: -2px;
    border-right-width: 1px;
}

/* Select last th if there’s only tow columns */
.hyperfiddle-hfql th:first-child:nth-last-child(2) ~ th:last-child {
    display: table-cell;
}

.hyperfiddle-hfql td{
    vertical-align: top;
    padding: 0.3rem;
    border-width: 1px;
    border-style: solid;
}

.hyperfiddle-hfql thead td:empty{
    visibility:hidden;
    border: none;
}

.hyperfiddle-hfql .hf-table-picker-count{
  border: none;
  vertical-align: middle;
  text-align: center;
}

.hyperfiddle-hfql fieldset.hf-options {
    display:grid;
    width: fit-content;
    grid-gap: 0.5rem;
    border-radius: 3px;
    border: 1px gray solid;
}

.hyperfiddle-hfql fieldset.hf-options th:nth-child(2){
    display: block;
    margin: 0 -1px;
    box-sizing: content-box;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

/* .grid{ */
/*     display: grid; */
/*     box-sizing: border-box; */
/*     grid-auto-flow: row; */
/*     border: 1px solid; */
/* } */

/* .grid th, .grid td { */
/*     display: block; */
/*     box-sizing: content-box; */
/* } */

/* .grid th { */
/*     border-width: 0; */
/*     border-right: 1px white solid; */
/* } */

/* .grid td { */
/*     border-width: 0; */
/*     /\* border-left-width: 1px ; *\/ */
/*     border-bottom-width: 1px ; */
/* } */

