@tailwind base;
@tailwind components;
@tailwind utilities;
/* Don't write above this line */

a {
    @apply tw-underline tw-text-blue-600 hover:tw-text-blue-800 visited:tw-text-purple-600;
}

.hf-code-tooltip{
    @apply tw-border-0 tw-px-3 tw-py-2;
    @apply tw-rounded tw-backdrop-filter tw-backdrop-blur;
    @apply tw-text-xs tw-font-mono;

    z-index: 100;
    background-color: rgba(255,255,255,0.75)!important;
}

.hf-cm-input{
    @apply tw-rounded-sm tw-border tw-shadow-inner;
    @apply tw-px-1;
    @apply focus:tw-shadow-none;
}

[aria-invalid="true"] {
    text-decoration: underline wavy red;
    border-bottom: 2px red dotted;
    margin-bottom: -2px;
    display:inline-block;
    position:relative;
}

[contenteditable]{
    white-space: pre-wrap;
}
[contenteditable="true"] {
    background-color: rgba(0, 128, 128, 0.1);
    padding: 0.1rem 0.25rem;
    margin: 0.1rem 0.25rem;
    min-width: 1rem;
    display: inline-block;
}
[contenteditable="true"]:empty::before{
    content: attr(placeholder);
    color: gray;
    font-size: 0.9rem;
}

