#root[data-ws-connected="false"] > *{
    filter:grayscale(1);
}

#root::before{
    content: 'Websocket reconnecting…';
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: rgb(251 146 60); /* bg-orange-300 */
    color: white;
    text-align: center;
    padding: 0.5rem;
    z-index: 1;
    font-weight: 400;
    font-size: 1rem;
    display: none;
}

#root[data-ws-connected="false"]::before{
    display: block;
}
[data-hf-pending="true"]{
    filter: grayscale(1);
    opacity: 0.95;
    cursor: progress;
}

[data-hf-pending="true"] * {
    pointer-events: none;
}

/* [data-hf-pending="true"]::before{ */
/*     content: " "; */
/*     width: 1rem; */
/*     height: 1rem; */
/*     position: absolute; */
/*     border: 2px red solid; */
/*     border-right: none; */
/*     border-bottom: none; */
/*     border-radius: 50%; */
/*     box-sizing: border-box; */
/* } */
