/* Cosmetic styles for the DirectoryExplorer demo; doesn't impact the scroll */

.photon-demo-explorer > [role=grid] > [role=columnheader] {
    white-space: nowrap;
    overflow-x: clip;
    text-overflow: ellipsis;
}

.photon-demo-explorer > [role=grid] > [role=group] > [role=gridcell] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.photon-demo-explorer > [role=grid] > [role=group]:nth-child(even) > div {
     background-color: #f2f2f2;
}
