/* Cosmetic styles for the gridsheet demos; doesn't impact the scroll */

.hyperfiddle .user-gridsheet-demo > [role=grid] > [role=columnheader] {
    white-space: nowrap;
    overflow-x: clip;
    text-overflow: ellipsis;
}

.hyperfiddle .user-gridsheet-demo > [role=grid] > [role=group] > [role=gridcell] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hyperfiddle .user-gridsheet-demo > [role=grid] > [role=group]:nth-child(even) > div {
    background-color: #f2f2f2;
}

.hyperfiddle .user-gridsheet-demo > [role=grid] > [role=group]:hover > div {
    background-color: #ddd;
}
