.browser {
    position: relative;
    /*width: 90vw;*/
    margin-bottom: 25vh;
    /* height: 100%; */
    padding: 2rem 0.5rem 0 0.5rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border: 1px solid;
    border-color:  rgb(226 232 240);

    border-radius: 0.75rem;
    background: url("./images/mac_window_options.svg")  0.5rem 0.6rem no-repeat;
    background-color: white;
}

.browser .navbar{
    display: grid;
    width: 100%;
    height: 2rem;
    padding: 0 1rem;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
    justify-items: flex-start;
    grid-gap: 1rem;
    justify-content: end;
}

.browser .navbar .route {
    flex:1;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    /* border-right: 0; */
    font-size: 1.1em;
}

.browser .navbar a[href=""] {
    pointer-events: none;
    color: gray;
}

.browser .navbar .go-button{
    position: absolute;
    background-color: transparent;
    border: 0;
    right: 0.75rem;
    width: 2rem;
    height: 2rem;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 448 512\"><path d=\"M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z\"/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.9rem;
    cursor: pointer;
}

.browser .navbar .go-button:hover{
    /* box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.2), 0 8px 10px -6px rgb(0 0 0 / 0.1); */
    box-shadow: 0 1px 3px 2px rgb(0 0 0 / 0.2), 0 1px 2px -1px rgb(0 0 0 / 0.2);
    border-radius: 50%;
}

.browser .view {
    padding: 1rem 0.25rem;
    /* margin-bottom: 25vh; */
    position: relative;
    display:grid;
    gap: 1rem;
}

.hf-error-wrapper{
    position: relative;
}

.hf-error{
    position: absolute;
    box-sizing: border-box;
    display: block;
    z-index: 1;
    width: 100%;
    background-color: rgb(254 242 242);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 1rem;
    border-radius: 3px;

    margin-top: 1rem;
    /* margin-bottom: 100%; */
    bottom: 80%; /* ok but not correct */

    opacity: 0;
    transition: 0.4s ease opacity;
}
.hf-error:not(:empty){
    opacity: 1;
}

.hf-staging-area{
    position: fixed; /* TODO should be sticky (bottom, autocollapse) */
    z-index: 2;

    left: 2.5vw;
    right: 2.5vw;
    bottom: 0;
    min-height: 3rem;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    padding: 0.5rem 1rem;

    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1rem 0.5rem rgb(0 0 0 / 0.25);
}
