.hyperfiddle-gridsheet[role=grid] > [role=columnheader] { white-space: nowrap; overflow-x: clip; text-overflow: ellipsis; }

.hyperfiddle-gridsheet[role=grid]{
    grid-auto-flow: rows;
}
.hyperfiddle-gridsheet[role=grid] > [role=group]:nth-child(even) > div {
    background-color: #f2f2f2;
}
.hyperfiddle-gridsheet[role=grid] > div {	background-color: rgb(249 250 251);}
.hyperfiddle-gridsheet[role=grid]  [role=gridcell] {
    white-space: nowrap;
    overflow: hidden;
    border: 0.5px lightgray solid;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
    display: inline-box;
}

.hyperfiddle-gridsheet[role=grid] > [role=gridcell]:hover ,
.hyperfiddle-gridsheet[role=grid] > [role=gridcell]:focus-within {
    overflow: visible;
    position: relative;
    z-index: 1;
}

.hyperfiddle-gridsheet[role=grid] > [role=gridcell] {
    display: block;
    position: relative;
    min-width:100%;
}

.hyperfiddle-gridsheet[role=grid] > [role=gridcell]:hover > *,
.hyperfiddle-gridsheet[role=grid] > [role=gridcell]:focus-within > *
{
    z-index: 2;
    position: absolute;
    width: fit-content;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: inherit;
}

.hyperfiddle-gridsheet[role=grid] [role=gridcell] .hf-header
{
    font-weight: bold;
}


/* /\*.photon-demo-explorer table > thead > td { text-decoration: underline; }*\/ */
/* /\*.photon-demo-explorer table > tbody > tr:nth-child(even) { background-color: #f2f2f2; }*\/ */
/* /\*.photon-demo-explorer table > tbody > tr:hover { background-color: #ddd; }*\/ */
/* /\*.photon-demo-explorer table > tbody > tr > td { padding-left: 3px; padding-right: 3px; white-space: nowrap;}*\/ */
/* /\*.photon-demo-explorer table > tbody > tr > td:first-child { width: 20em; }*\/ */
/* /\*.photon-demo-explorer table > tbody > .no-results { text-align: center; }*\/ */

/* .photon-demo-explorer > [role=grid] > [role=columnheader] { white-space: nowrap; overflow-x: clip; text-overflow: ellipsis; } */
/* .photon-demo-explorer > [role=grid] > [role=group]:nth-child(even) > div { background-color: #f2f2f2; > } */
/* .photon-demo-explorer > [role=grid] > [role=group]:hover > div { background-color: #ddd; } */
/* .photon-demo-explorer > [role=grid] > [role=group] > [role=gridcell] { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; } */
