/* TODO migrate to Tailwind */
@import url('forms.css');
@import url('electric_ui.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body.hyperfiddle {
    font-family: 'Open Sans', Arial, Verdana, sans-serif;
    /* font-size: 0.8rem; */
    /*min-height: 101vh; !* DEMO ONLY, force scrollbar to show up, preventing paint flashing  *!*/
    background-color: rgb(248 250 252);
}

.hyperfiddle ol,
.hyperfiddle ul,
.hyperfiddle dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

.hyperfiddle dl {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 0 1em;
}

.hyperfiddle dt {
    grid-column: 1;
    font-weight: 700;
}

.hyperfiddle dd {
    grid-column: 2;
    margin-bottom: .5rem;
    margin-left: 0;
}
