{(wip.orders-datascript/orders .) {:needle "alice"}} ; hfql tree-path form
(wip.orders-datascript/orders "alice") ; s/cat form
{wip.orders-datascript/orders {:needle "alice"}} ; s/keys tree-path form
{wip.orders-datascript/orders {1 "alice"}} ; router form - index holes in HFQL expr


"hfql tree-path form"
{(wip.orders-datascript/orders .)
 {:needle "alice"
  9 {:order/shirt-size
     {(wip.orders-datascript/shirt-sizes gender .)
      {:needle "large"}}}}}

"s/keys tree-path form"
{{wip.orders-datascript/orders {:needle "alice"}}
 {9 {:order/shirt-size {::hf/options {wip.orders-datascript/shirt-sizes {:needle "large"}}}}}}

"router form"
{{wip.orders-datascript/orders {1 "alice"}} ; 1 is "first hole" at this layer
 {9 {1 "large"}}}

{{wip.orders-datascript/orders {1 ""}}
 {9 {1 "large"}
  10 {1 "small"}}}


(hfql
  {(orders .)
   [:db/id
    :order/gender
    {:order/shirt-size {:options (shirt-sizes gender .)}}]})

{{wip.orders-datascript/orders {:needle "alice"}}
 {9 {:order/shirt-size {::hf/options {wip.orders-datascript/shirt-sizes {:needle "large"}}}}}}


(binding [hf/entity 9]
  (hfql
    [:db/id
     :order/gender
     {:order/shirt-size {:options (shirt-sizes gender .)}}]))

{:order/shirt-size {::hf/options {wip.orders-datascript/shirt-sizes {:needle "large"}}}}
