{:lint-as {hyperfiddle.electric3/defn clojure.core/defn
           hyperfiddle.electric3/for clojure.core/let
           hyperfiddle.electric3/with-cycle clojure.core/let
           hyperfiddle.electric3/fn clojure.core/fn
           hyperfiddle.electric.impl.array-fields/deffields clojure.core/declare}
 :linters {:redundant-expression {:level :off}
           :var-same-name-except-case {:level :off}}}