.view {
    font-family: monospace;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-flex;
    gap: 0 8px;
}

.view:hover {
    background: rgba(200,200,200,0.2);
}

.view[aria-expanded="true"] {
    flex-direction: column;
}
